.card-margin {
    margin: 32px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;

    left: 0%;
    z-index: 1;
}

@media (min-width: 1012px) {
    .title-large-screen {
        font-size: 75px !important;
    }

    .position-absolute {
        top: 45%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1011px)  {
    .title-large-screen {
        font-size: 48px !important;
    }

    .position-absolute {
        top: 40%;
    }
}

@media only screen and (max-width: 800px)  {
    .title-large-screen {
        font-size: 48px !important;
    }

    .position-absolute {
        top: 15%;
    }
}

.gradient {
    background: linear-gradient(to top, #0C0A0F, transparent);
    /* use "to bottom" for a vertical gradient */
    /* change the hex codes to your desired colors */
    /* you can also use rgb or hsl color values */
    /*color: white;*/
    /* set the text color to contrast the gradient */
    padding-top: 100px;
    padding-left: 5%;
    /* add padding to show the gradient */
}

.image-background {
    max-width: 100%;
    height: auto;
}

h1 {
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #c5c5c5;
    font-size: 24px;
    text-align: left;
    width: 80%;
    /*margin-left: 10%;*/
}
