.card-margin {
    margin: 32px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;

    left: 0;
    z-index: 1;
}

@media (min-width: 1644px) {
    .div-size-dashboard {
        height: 54vh;
    }
}

@media (min-width: 1012px) {
    .title-large-screen {
        font-size: 75px !important;
    }

    .position-absolute {
        top: 45%;
    }

    .dashboard-height {
        min-height: 150vh;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1012px) {
    .title-large-screen {
        font-size: 48px !important;
    }

    .position-absolute {
        top: 40%;
    }

    .dashboard-height {
        min-height: 110vh;
    }
}

@media only screen and (max-width: 800px)  {
    .title-large-screen {
        font-size: 48px !important;
    }

    .position-absolute {
        top: 15%;
    }

    .dashboard-height {
        min-height: 170vh;
    }
}

.gradient {
    background: linear-gradient(to top, #0C0A0F, transparent);
    padding-top: 100px;
    padding-left: 5%;
}

.image-background {
    max-width: 100%;
    height: auto;
}

.choir-title {
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.text-description {
    color: #c5c5c5;
    font-size: 24px;
    text-align: left;
    width: 80%;
    /*margin-left: 10%;*/
}
